extends layouts/foundation_wrap 

//- Override any config settings by appending to the config block
append config
	- var PageTitle = 'Foundation with Jade'
	- var MetaDesc = 'Baking Foundation Snippets with Jade'
	//- - var GoogleFonts = 'Open Sans'

block title
	| Testing with Jade

block content
	include partials/foundation/fd_header
	include partials/foundation/fd_main
	include partials/foundation/fd_footer
	h1
		block title

	p If you’re not using Jade, you’re missing out on some of the fastest HTML you’ll ever produce as well as boilerplate templating methods that will slash your development time in half.

	ul
		li: a Link One
		li: a Link Two
		li: a Link Three
		li: a Link Four
		li: a Link Five

	p In “Top Speed HTML Dev with Jade” you’ll learn how to generate full HTML from quick and easy shorthand. You’ll then build on that foundation to create infinitely reusable templates so you never write the same code twice again. Let’s begin!
